$font-primary: 'Raleway', sans-serif;
$color_orange: #f9da90;
$color_red: #e6615a;
$color_text: #1b1b1b;
$color_gray: #202020;
$color_white: #ffffff;
$bk_main: #f1f1f1;
@mixin flexItem() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: $font-primary;
    // font-size: 62.5%;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow-y: hidden;
}

.container {
    max-width: 1170px ;
    margin: 0 auto;
}

.container-full {
    max-width: 1486px;
}
.main-heading {
    text-align: center;
    font-size: 3rem;
    color: $color_text;
    font-weight: 600;
    margin-bottom: 2rem;
}
.main-head {
    display: flex;
    justify-content: center;
}
.main-desc {
    text-align: center;
    font-size: 1.7rem;
    color: $color_text;
    font-weight: 500;
    margin-bottom: 7.5rem;
}

.main-icon {
    display: flex;
    margin: auto;
}
