html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container-full {
  max-width: 1486px;
}

.main-heading {
  text-align: center;
  font-size: 3rem;
  color: #1b1b1b;
  font-weight: 600;
  margin-bottom: 2rem;
}

.main-head {
  display: flex;
  justify-content: center;
}

.main-desc {
  text-align: center;
  font-size: 1.7rem;
  color: #1b1b1b;
  font-weight: 500;
  margin-bottom: 7.5rem;
}

.main-icon {
  display: flex;
  margin: auto;
}

.main-read-more {
  position: absolute;
  text-decoration: none;
  font-size: 2rem;
  color: #1b1b1b;
  background-color: #e6615a;
  padding: 1rem 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  font-weight: 500;
}

.header {
  position: relative;
  height: 830px;
  background-image: url(../images/wedding-full.jpg);
  background-position: center;
  z-index: 1;
  width: 100%;
}
.header__wrapper {
  width: 1170px;
  position: absolute;
  z-index: 2;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(80deg, #f9da90 20%, transparent);
}

.nav {
  z-index: 2;
  margin: 6.2rem 0 25.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 3.4rem;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list-item {
  list-style: none;
  margin-left: 8.2rem;
  font-size: 1.8rem;
}
.nav__list-item-link {
  text-decoration: none;
  color: #1b1b1b;
  font-weight: 600;
}
.nav__list-item-link:hover {
  color: #ffffff;
  transition: 0.3s ease;
}
.nav__list-item-link.active {
  color: #ffffff;
}

.slider {
  max-width: 65rem;
}
.slider__headiing {
  font-size: 7rem;
  font-weight: bold;
  padding-bottom: 3rem;
}
.slider__headiing span:first-child {
  color: #1b1b1b;
}
.slider__headiing span:last-child {
  color: #e76d62;
}
.slider__desc {
  color: #ffffff;
  line-height: 3rem;
  font-size: 1.7rem;
  margin-bottom: 6rem;
}
.slider__button {
  text-decoration: none;
  color: #ffffff;
  background-color: #e6615a;
  padding: 2rem 3rem;
  font-size: 2.2rem;
  border-radius: 4rem;
  font-weight: 600;
}

.control {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(30%);
}
.control__list li {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #1b1b1b;
  margin-bottom: 2rem;
}
.control__list li.active {
  background-color: #e6615a;
}

.control-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
  margin-top: 7rem;
}

main {
  background-color: #f1f1f1;
  padding-top: 17rem;
}

.our-plane {
  padding-bottom: 17rem;
}
.our-plane__head {
  display: flex;
  justify-content: center;
}
.our-plane__icon {
  display: flex;
  margin: auto;
}
.our-plane__heading {
  text-align: center;
  font-size: 3rem;
  color: #1b1b1b;
  font-weight: 600;
  margin-bottom: 2rem;
}
.our-plane__desc {
  text-align: center;
  font-size: 1.7rem;
  color: #1b1b1b;
  font-weight: 500;
  margin-bottom: 7.5rem;
}
.our-plane__list {
  box-shadow: 0 0.5rem 2rem 0.25rem rgba(124, 147, 165, 0.34);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.our-plane__item {
  background-color: #ffffff;
  width: 29%;
  margin: 0 1rem 1rem 0;
  padding: 2rem;
}
.our-plane__item img {
  width: 100%;
}
.our-plane__item-diff {
  background-color: #f9da90;
}
.our-plane__item--active {
  position: relative;
}
.our-plane__item-link {
  position: absolute;
  text-decoration: none;
  font-size: 2rem;
  color: #1b1b1b;
  background-color: #e6615a;
  padding: 1rem 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  font-weight: 500;
}
.our-plane__item-title {
  color: #1b1b1b;
  font-size: 2.2rem;
  text-align: center;
  margin: 3rem 0;
  font-weight: 600;
}
.our-plane__item-desc {
  font-size: 1.8rem;
  color: #1b1b1b;
  text-align: center;
  padding: 0 2rem 5rem 0;
}

.bridesmaid {
  padding-bottom: 17rem;
}
.bridesmaid-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.bridesmaid-list__item-diff {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.bridesmaid-item__user img {
  border-radius: 1.4rem;
  margin-bottom: 1rem;
}
.bridesmaid-item__user-name {
  text-align: center;
  color: #1b1b1b;
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
}
.bridesmaid-control {
  display: flex;
  justify-content: center;
  padding-top: 30rem;
}
.bridesmaid-control__list {
  display: flex;
}
.bridesmaid-control__list li {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #e6615a;
  position: relative;
  margin: 0.3rem;
}
.bridesmaid-control__list li.active {
  background-color: #1b1b1b;
  position: relative;
  top: -3rem;
  left: 5.4rem;
}
.bridesmaid-control__list li::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us {
  background-image: url(../images/page-us.jpg);
  height: 1070px;
  display: flex;
}
.about-us__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.about-us__left {
  width: 40%;
}
.about-us__left img {
  margin-bottom: 1rem;
}
.about-us__left-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 500;
  background-color: #e6615a;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
}
.about-us__left-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 7rem;
}
.about-us__left-desc {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 7rem;
}
.about-us__right {
  display: flex;
  position: relative;
  width: 50%;
}
.about-us__right-user {
  position: absolute;
  z-index: 3;
}
.about-us__right-user--top {
  top: -137px;
  right: -75px;
}
.about-us__right-user::after {
  position: absolute;
  content: "";
  top: 67px;
  left: 25px;
  background-color: #1b1b1b;
  width: 80%;
  height: 80%;
  z-index: -1;
  transform: rotate(-25deg);
}

.form-blog {
  width: 100%;
}
.form-blog__post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}
.form-blog__post-image {
  width: 50%;
  position: relative;
}
.form-blog__post-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.form-blog__post-date {
  position: absolute;
}
.form-blog__post-content {
  width: 50%;
  padding: 6.7rem 5rem;
  background-color: #ffffff;
}
.form-blog__post-outher {
  font-size: 1.8rem;
  color: #c9cacb;
  margin-bottom: 3rem;
}
.form-blog__post-title {
  font-size: 2rem;
  color: #1b1b1b;
  font-weight: 600;
  margin-bottom: 3rem;
}
.form-blog__post-desc {
  font-size: 1.8rem;
  color: #1b1b1b;
  line-height: 2rem;
  padding-bottom: 3rem;
}
.form-blog__post-interact {
  font-weight: 600;
  font-size: 2rem;
}
.form-blog__post-like {
  margin-right: 2rem;
}
.form-blog__post-comment {
  color: #e6615a;
}

/*# sourceMappingURL=app.css.map */
